#binary 
front-end/frontApp
broker-service/brokerApp
authentication-service/authApp
logger-service/loggerServiceApp
mail-service/mailApp
listener-service/listenerApp
front-end/frontEndApp
camera-service/target/

#folder with mounted DBs data
project/db-data/

#workspace-files
front-end.code-workspace
camera-service/.idea
camera-service/.mvn